<div class="chat-container">
  <div #chatMessages class="chat-messages">
    <div class="message" *ngFor="let msg of messages$ | async">
      <span class="timestamp">{{msg.timestamp | date:'shortTime'}}</span>
      <span class="username">{{msg.username}}</span>
      <span class="message-text">{{msg.message}}</span>
    </div>
  </div>
  <div class="chat-input">
    <input 
      type="text" 
      [formControl]="messageInput"
      placeholder="Send a message"
      (keyup.enter)="sendMessage()">
    <button 
      [disabled]="!messageInput.valid"
      (click)="sendMessage()">Chat</button>
  </div>
</div>